<ion-view hide-back-button="true" class="page-search products-view" title="{{$root.appLanguage.SEARCH_TEXT}}">
	<ion-nav-buttons side="left">
		<!-- Toggle left side menu -->
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-footer" scroll="false">
		<div class="header-form-search">
			<form name="searchForm" ng-submit="doSearch(searchForm)" novalidate="">
				<div class="item-input-inset">
					<div class="select-category" style="max-width:35%" hidden>
						<select ng-model="searchFormData.category">
							<option value="all">All</option>
							<option value="{{category.id}}" ng-repeat="category in categoryData">{{category.name}}</option>
						</select>
					</div>
					<label class="item-input-wrapper " style=
					"margin: 1px; 	border: 1px  solid #ddd; padding: 1px ; z-index:99999 "  >
						<input type="search" style="width: 100%;"
						ng-model="searchFormData.keyword" name="keyword" placeholder="{{$root.appLanguage.SEARCH_HERE}}">
					</label>
					<button  type="submit" class="button button-small" style="background-color:#008cd9; color:white ;width:4vw ">
						<i class="icon ios ion-search" ></i>
					</button>
				</div>
			</form>
		</div>
		<ion-content>
				<ion-grid class="category-list clearfix wish">
						<ion-col class="col col-50">
							<ion-row  class="row " ng-repeat="product in searchData track by product.id " ng-show="$index % 2 == 0">
								 <div class="card clearfix animated zoomIn">
								<img actual-src="{{product.images[0].src}}" ng-src="img/placeholder.png" style="width:100%" ng-click="openProduct({{product.id}})" class="img-{{product.id}}"></img>
								<div class="container">
								<div class="on-sale" ng-if="product.on_sale" ng-click="openProduct({{product.id}})">{{$root.appLanguage.PRODUCT_SALE_TEXT}}</div>
								<h4 class="name name-pro" ng-bind-html="product.name" ng-click="openProduct({{product.id}})"></h4>
								<div class="short-description description" ng-bind-html="product.description"></div>
								<div class="review">
									<!-- <div class="star-rating rating" ng-bind-html="trustAsHtml(product.rating_star_html);" ng-if="product.rating_count>0"></div> -->
									<div class="star-rating rating" ng-bind-html="trustAsHtml(product.rating_star_html);"></div>
								</div>
								<div class="price" ng-if="!product.price_html" price="{{product.price}}"></div>
								<div class="price price-category" ng-if="product.price_html" ng-bind-html="product.price_html"></div>
								</div>
								<div class="item item-input-inset ">
									<button class=" button button-block button-assertive " ng-if="isProductInWishlist(product.id)" ng-click="addProductToWishlist(product)">
									 <i class="icon ion-heart-broken "></i>-
									</button>
									<button class=" button button-block button-energized " ng-if="!isProductInWishlist(product.id)" ng-click="addProductToWishlist(product)" style="font-weight: normal !important;" >
										<i class="icon ion-heart active"></i>+
									 </button>
									<button class="  button button-block button-positive " ng-if="product.in_stock" ng-click="addToCart(product)">
										<i class="icon ion-ios-cart" ></i>
									 </button>
								</div>
							</div>
						</ion-row >
						</ion-col>
						<ion-col class="col col-50" style="padding-top: 0px;margin-top: -15px;">
							<ion-row  class="row " ng-repeat="product in searchData track by product.id " ng-show="$index % 2 == 1">
							<div class="card clearfix animated zoomIn">
								<img actual-src="{{product.images[0].src}}" ng-src="img/placeholder.png" style="width:100%" ng-click="openProduct({{product.id}})" class="img-{{product.id}}"></img>
								<div class="container">
								<div class="on-sale" ng-if="product.on_sale" ng-click="openProduct({{product.id}})">{{$root.appLanguage.PRODUCT_SALE_TEXT}}</div>
								<h4 class="name name-pro" ng-bind-html="product.name" ng-click="openProduct({{product.id}})"></h4>
								<div class="short-description description" ng-bind-html="product.description"></div>
								<div class="review">
									<!-- <div class="star-rating rating" ng-bind-html="trustAsHtml(product.rating_star_html);" ng-if="product.rating_count>0"></div> -->
									<div class="star-rating rating" ng-bind-html="trustAsHtml(product.rating_star_html);"></div>
								</div>
								<div class="price" ng-if="!product.price_html" price="{{product.price}}"></div>
								<div class="price price-category" ng-if="product.price_html" ng-bind-html="product.price_html"></div>

								</div>
								<div class="item item-input-inset ">
									<button class=" button button-block button-assertive " ng-if="isProductInWishlist(product.id)" ng-click="addProductToWishlist(product)">
									 <i class="icon ion-heart-broken "></i>-
									</button>
									<button class=" button button-block button-energized " ng-if="!isProductInWishlist(product.id)" ng-click="addProductToWishlist(product)" style="font-weight: normal !important;" >
										<i class="icon ion-heart active"></i>+
									 </button>
									<button class="  button button-block button-positive " ng-if="product.in_stock" ng-click="addToCart(product)">
										<i class="icon ion-ios-cart" ></i>
									 </button>
								</div>
							</div>
						</ion-row >
						</ion-col>
					</ion-grid>


			<ion-infinite-scroll
				ng-if="canLoadMoreSearchData"
				on-infinite="loadMoreSearchData()"
				distance="5%">
			</ion-infinite-scroll>
		</ion-content>
	</ion-content>
</ion-view>
